/* centering: defined width: display flex, flex, margin left/right auto. Non-defined width: justify content center */


body{
    background: #3e5151; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3e5151, #decba4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3e5151, #decba4);
}

.btn-h1-spacing{
    margin-top: 18px;
}

.form-spacing-top{
    margin-top: 30px;
}

.edit-delete-spacing{
    margin-top: 15px;
    /* background-color: rgb(236, 178, 178); */
}

.container-nav{
    display: flex;
    list-style-type:none;
    margin-bottom: 20px;
    /* justify-content: space-between; */
    background-color: rgb(248, 242, 219);
    opacity: 0.7;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

.jumbotron-1{
    background-color: rgb(248, 242, 219);
    opacity: 0.5;
}

.sidebar-1{
    background-color: rgb(248, 242, 219);
    opacity: 0.5;
}

.button{
    color: rgb(139, 230, 230);
    font-weight: bold;
    background-color: rgb(248, 242, 219);
    opacity: 0.5;
    margin: 5px;
}

.text{
    color: rgb(139, 230, 230);
    font-weight: bold;
}

.text-2{
    color: rgb(76, 228, 228);
}

.button:hover{
    color: rgb(28, 224, 224);
}

.align-left{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: left;
}

.align-right{
    display: flex;
    /* margin-left: auto;*/
    flex-direction: row;
    list-style-type: none;
    justify-content: right;
}

.page-links{
    display: flex;
    justify-content: center;
}

.video-container{
    display: flex;
}

.video{
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    width: 320; 
    height: 240;
}